{% load static %}
<section class="background">
    <div class="container-fluid"
        style="background: url('/static/images/background.jpg') no-repeat fixed center; height:100%;">

        <div class="container h-100 d-flex justify-content-center">
            <div class="my-auto">
                <h1 class="display-3 pt-5 mt-5" style="color:white"><b>NEW
                        ARRIVALS
                        FOR
                        2020!! </b> </h1>
                <h5 class="align-item-center"><b>SHOP NOW TO
                        GET
                        AMAZING DISCOUNT </b></h5>
            </div>
        </div>

</section>
<section class="home mt-5">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h4 class="pb-1 pt-5">Collection Sneaker 2020</h3>
                    <img class="col-md-3 align-center "
                        src="{% static 'images/swigly_line.png' %}" alt="...">
                    <h2 class="pt-5 pb-3">Nike Free RN 2018 Men's Running Shoe
                    </h2>
                    <p>Discount 10% for all customers booked <b>before
                            02/14/2020</b></p>
                    <button class="btn btn-primary btn-lg mt-5 col-md-5"
                        type="submit">View
                        Details</button>
            </div>
            <div class="col"><img src='{% static "images/shoes.png" %}'
                    class=" img-fluid" alt="Responsive image"></div>
            <div class="w-100"></div>
            <div class="col"><img src='{% static "images/jacket.png" %}'
                    class="img-fluid" alt="Responsive image"></div>
            <div class="col">
                <h4 class="pb-1 pt-5">Collection Clothing 2020</h3>
                    <img class="col-md-3 align-center "
                        src="{% static 'images/swigly_line.png' %}" alt="...">
                    <h2 class="pt-5 pb-3">Best Price
                        Ski Jacket For Men 2018
                    </h2>
                    <p>Light weight warm-up softshell jacket combining
                        wind-resistance and
                        breathability. Ideal for active nordic skiing or winter
                        training.</b></p>
                    <button class="btn btn-primary btn-lg mt-5 col-md-5"
                        type="submit">View Details</button>
            </div>
        </div>
    </div>
</section>