.navbar a {
  text-decoration: none;
  font-family: Cambria, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  color: #596365;
  padding-left: 1em;
}

.navbar span {
  text-decoration: none;
  font-family: Cambria, serif;
  font-size: 14px;
  padding-left: 1em;
}

.navbar2 a {
  padding-left: 2em;
  font-size: large;
}

form {
  width: 25rem;
  height: 2.5rem;
}

.img-responsive img {
  width: 100%;
  height: auto;
  max-width: 200px;
}
