{% load static wagtailuserbar wagtailimages_tags wagtailroutablepage_tags %}
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
      <link rel="stylesheet" type="text/css"
    href=" https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
   

  <script src="{% static 'js/script.js' %}"></script>
  <title>Product</title>
  <link rel="stylesheet" href="{% static 'css/product_index_page.css' %}" />
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet" />
</head>

<body>
  <!-- nav bar for top  -->
  <section style="position:absolute;color:#757575;" class="container-fluid">
    <section>
      <div class="container navbar">
        <div>
          <span>
            Language : Nepali
          </span>
          <span>
            Currency : Rs
          </span>
        </div>
        <div class="d-flex justify-content-end ">
          <a>
            My Account
          </a>
          <a href="/cart">
            My Cart
          </a>
          <a> Check out </a>
          {% if user.is_authenticated %}
          <a href="/logout">
            Logout
          </a>
          {% else %}
          <a href="/login">
            Signin
          </a>
          <a>
            Register
          </a>
          {% endif %}
        </div>
      </div>
    </section>
    <!-- nav bar home and search -->
    <section >
      <div class="container pt-3 "
        style="background-color: white; height: 12rem;">
        <div class="row">
          <img class="col-lg-3 col-sm-3 ml-lg-5"
            src="{% static 'images/samprit.png' %}" />
          <div class="col-lg-2 mt-lg-4 offset-lg-1 d-flex">
            <img class="col-lg-4 col-sm-1"
              src="{% static 'images/headset-solid.svg' %}" />
            <p style="font-size:13px">
              Call us<br />
              9030123920
            </p>
          </div>
          <form
            class="border bordered-dark d-flex mt-lg-4 justify-content-between">
            <input class="border-0 pl-lg-2" placeholder="Product Name"
              name="q" />
            <button class="btn btn-primary rounded-0 " type="submit">
              Search
            </button>
          </form>
        </div>
        <div class="d-flex navbar2 mt-lg-5 pt-lg-2 border-top">
          <a href="/all-product">
            Home
          </a>
          <a>
            Shop
          </a>
          <a> Product </a>
        </div>
      </div>
    </section>
  </section>
  {% block content %} {% endblock %}
  {% include 'footer.html' %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>