{% extends "base.html" %} {% load static %} {% load wagtailimages_tags wagtailroutablepage_tags %} 
{% block content %}
<div style="height:15rem; " class="flex-column-reverse">
</div>
  <section class="mt-lg-5 ">
    <!-- section for detail part-->
    <div class="container">
      <div class="row">
        <div class=" col-lg-2">
          {% for item in page.gallery_images.all %}
          <div class=" border mr-4 d-flex justify-content-center mt-2">
            {% image item.image max-100x140 %}
          </div>
          {% endfor %}
        </div>
        <div class="col-lg-5 ml-n5 mt-2">
          <img
            class="border"
            style="width: 100%;"
            src="https://cdn.shopify.com/s/files/1/0070/8299/9875/products/10_89936ea2-4df2-4f3f-8e3d-7e923e7c21bd_grande.jpg?v=1542444325"
          />
        </div>
        <div class="col-lg-5 border-bottom">
          <p>
            {{ page.title }}
          </p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <p>
            {{ page.Price }}
          </p>
          <p>
            {{ page.Description }}
          </p>
          <div>
          <form action="{% url "cart:add" page.id %}"
          method="post"
          class="form-inline">

{% csrf_token %}
            <div>
              <label>Quantity</label>
              <input type="number" name='quantity' value='1' step="1" min="1" />
            </div>
            <div class="mt-4 ">
              <input 
              type="submit"
              value="Add to cart"
              class="col-lg-5 btn btn-success ">   
              <input 
                    value="Add to WishList"
                    class="col-lg-5 btn btn-success "
                />
            </div>
            <div >
              <input
                class="col-lg-7 mt-2 btn btn-primary"
                type="submit"
                value="Buy It Now"
              />
            </div>
          </form>
        </div>
          {% with categories=page.Categories.all %}
      {% if categories %}
      
      <div class="mt-5" >
        <h6>Categories</h6>
        <ul>
            {% for category in categories %}
                <li style="display: inline">
                    <a href="{% routablepageurl product_index_page "post_by_category" category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
      </div>
    {% endif %}
{% endwith %}
        </div>
      </div>
    </div>
  </section>

  <!-- Section for Descrition Comments and Reviews-->
  <section class="mt-5">
    <div class="container">
      <div class="d-flex flex-row justify-content-center ">
        <button
          class="tab-switcher border-bottom btn  mr-2 btn-lg"
          data-tab-index="0"
          tabindex="0"
        >
          Descriptions
        </button>
        <button
          class="tab-switcher border-bottom btn  mr-2 btn-lg"
          data-tab-index="1"
          tabindex="0"
        >
          Comments
        </button>
        <button
          class="tab-switcher border-bottom btn  mr-2 btn-lg"
          data-tab-index="2"
          tabindex="0"
        >
          Reviews
        </button>
      </div>

      <div id="allTabsContainer" class="mt-5">
        <div class="tab-container " data-tab-index="0">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta
            veniam provident id nisi quo esse ex porro tempore sequi perferendis
            officia quidem fuga, aspernatur optio? Recusandae, amet. Asperiores,
            vel suscipit.
          </p>
          <p>
            Features
          </p>
          <div>
            <span>
              Brand Name :
            </span>

            <span>
              No Name
            </span>
          </div>
          <div>
            <span>
              Sizes Available :
            </span>

            <span>
              S/ M/ L
            </span>
          </div>
          <div>
            <span>
              Addition Features :
            </span>
          </div>
        </div>
        <div class="tab-container" data-tab-index="1" style="display:none;">
          <ul class="list-unstyled">
            <li class="media">
              <img src="..." class="mr-3" alt="..." />
              <div class="media-body">
                <p class="mt-0 mb-1">Anamous</p>
                <p>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin.
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="tab-container" data-tab-index="2" style="display:none;">
          <p>
            Revews
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--
        Section for related products
    -->
  <section class="mt-5">
    <div class="container">
      <p class="relatedproducts border-bottom">
        Related Products
      </p>
      <div class="row">
        {% for product in products %}
        {% if page.Categories.all == product.categories.all and page.title != product.title  %}
        <div class="col-lg-3  ">
          <a href="{{ product.url }}">
            <div
              class="row no-gutters  align-self-center position-relative "
              style="background-color: white;"
            >

              <div class="col-auto align-self-center ">
                <img
                  class=" ml-3"
                  src="https://cdn.shopify.com/s/files/1/0070/8299/9875/products/15_4b8b7cc7-c445-4c11-8022-0652106d2f95_grande.jpg?v=1541587242"
                  width="200"
                  height="200"
                />
              </div>
              <div class="col d-flex flex-column ">
                <strong class=" align-self-center">{{ product.title }}</strong>
                <p class="mb-auto text-center">
                  {{ product.Description }}
                </p>
                <p>
                  {{ product.Categories.all }}
                </p>
              </div>
            </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
