{% extends "base.html" %}

{% load static %}
{% load wagtailimages_tags  wagtailroutablepage_tags %}
{% block content %}
<div style="height:15rem; " class="flex-column-reverse">

</div>
<div style="background-color: #f2f2f2">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'images/happy_new.png' %}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'images/sales_day.jpg' %}" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'images/shop.gif' %}" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<section style="background-color: #f2f2f2; color: #424242;" class="py-5">
  <div class="container" >
    <h3>
      Categories
    </h3>
  </div>
    <section>
        <div class="py-2 ">
                <div class="container  " >
                  <div class="row ">
                      {% for category in categories %}
                    <div class="col-10 col-sm-6 col-md-5 col-lg-4  mt-2 ">
                            <a href="{% routablepageurl page "post_by_category" category.slug %}">
                            <div class=" ml-5 ml-sm-0 no-gutters  overflow-hidden flex-lg-column mb-4  h-lg-250 position-relative " style="background-color: white; text-align: center;">
                              <div class=" p-4 d-flex flex-column ">
                                <strong class="align-self-center">{{ category.name }}</strong>
                                 <img class="mt-2 col-lg-4 col-md-6 col-sm-6 col-6 align-self-center  "
                        src="{% static 'images/swigly_line.png' %}" alt="...">
                                 <strong class="mt-2  text-center">{{ category.Caterogy_Description }}</strong>
                              </div>
                              <div class=" align-self-center col-lg-10 col-md-9 col-sm-6 col-10 pl-5  img-responsive mb-2">
                               {% image category.image  original %}
                                 </div>
                            </div>
                            </a>
                          </div>
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- section for New Arrivals High Rates -->
            <section>

            
            <section style="background-color: white;" class="pt-5">
              <div class="container">
                <div class="d-flex flex-row justify-content-center ">
                    <button  class="tab-switcher btn btn-primary mr-2 btn-lg" data-tab-index="0" tabindex="0">New Arrivals</button>
                    <button  class="tab-switcher btn btn-primary  mr-2 btn-lg" data-tab-index="1" tabindex="0" >Top Featured</button>
                    <button   class="tab-switcher btn btn-primary mr-2 btn-lg" data-tab-index="2" tabindex="0" >High Rated</button>
                  </div>
                <div id="allTabsContainer" class="mt-5">
                    <div class="tab-container" data-tab-index="0">
                        <div class="row">
                          {% for product in products %}
                            <div class="  col-lg-3 col-md-3 col-sm-4 col-6 mb-5" >
                                    <a  href="{{ product.url }}">
                                    <div class="   align-self-center position-relative " style="background-color: white;">
                                        <div class="align-self-center single-item">
                                              {% for item in product.gallery_images.all %}
                                              <div class="align-self-center  single-item   img-responsive">
                                                <div>
                                                {% image item.image original %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                           </div>
                                      <div class=" mt-4 d-flex flex-column">
                                        <strong class=" align-self-center" style="color: #757575;">{{ product.title }}</strong>
                                         <p class="mb-auto text-center">{{ product.Description }}</p>
                                         <strong class="mb-auto text-center" > Price: Rs{{ product.Price }}</strong>
                                      </div>                                    
                                    </div>
                                    </a>
                                         </div>
                                         {% endfor %}
                              </div>
                    </div>
                    <!-- Tab container 1 for Top Featured-->
                    <div class="tab-container" data-tab-index="1" style="display:none;">
                        <div class="row">
                          {% for product in products %}
                          {% if product.TopFeatured %}
                        <div class="  col-lg-3 col-md-3 col-sm-4 col-6  mb-5" >
                                    <a  href="{{ product.url }}">
                                    <div class="   align-self-center position-relative " style="background-color: white;">
                                        <div class="align-self-center single-item">
                                              {% for item in product.gallery_images.all %}
                                              <div class="align-self-center    img-responsive">
                                                {% image item.image original %}
                                            </div>
                                          {% endfor %}
                                         </div>
                                    <div class="col d-flex flex-column">
                                      <strong class=" align-self-center">{{ product.title }}</strong>
                                       <p class="mb-auto text-center">{{ product.Description }}</p>
                                       <strong class="mb-auto text-center" > Price: Rs{{ product.Price }}</strong>
                                    </div>                                    
                                  </div>
                                  </a>
                                       </div>
                                       {% endif %}
                                       {% endfor %}                                                                          
                    </div>
                    </div>
                    <!-- Tab container for 2 high rated-->
                    <div class="tab-container" data-tab-index="2" style="display:none;">
                        <div class="row">
                          {% for product in products %}
                         <div class="  col-lg-3 col-md-3 col-sm-4 col-6  mb-5" >
                                    <a  href="{{ product.url }}">
                                    <div class="   align-self-center position-relative " style="background-color: white;">
                                        <div class="align-self-center single-item">
                                              {% for item in product.gallery_images.all %}
                                              <div class="align-self-center img-responsive">
                                                {% image item.image original %}
                                            </div>
                                          {% endfor %}
                                         </div>
                                    <div class="col d-flex flex-column">
                                      <strong class=" align-self-center">{{ product.title }}</strong>
                                       <p class="mb-auto text-center">{{ product.Description }}</p>
                                       <strong class="mb-auto text-center" > Price: Rs{{ product.Price }}</strong>
                                    </div>                                    
                                  </div>
                                  </a>
                                       </div>
                                       {% endfor %}
                        </div>
                    </div>
                </div>
              </div>
            </section>
          </section>
          </section>
{% endblock %}