{% extends "base.html" %}

{% load static %}
{% load wagtailimages_tags  wagtailroutablepage_tags %}
{% block content %}
<div style="height:15rem; " class="flex-column-reverse">

</div>
<div  style="background-color: #f2f2f2 ; height:3rem;" >
    <p class="container p-2" style="font-size: small; font-family: Arial, Helvetica, sans-serif;color:#68d0e2;">
        home/category
    </p>

</div>
    <div class=" container mt-3">    
  <div class="row ">
      <div>
           <div class= 'col-md-12 border' style="background-color: #f2f2f2 ;font-size: 15px;" >
                        <p class="border-bottom py-2">
                            Shop by Categories
                        </p>
                        {% for category in categories %}
                       <p>
                            <a href="{% routablepageurl page "post_by_category" category.slug %}">{{ category.name }}</a>
                        </p>
                    {% endfor %}
                    </div> 
      </div>
                 <div class="ml-2">
                     <div class="border">
                            <nav class="nav">
                                <a class="nav-link active" href="#">All</a>
                                <a class="nav-link" href="#">Male</a>
                                <a class="nav-link" href="#">Female</a>
                                <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Kids</a>
                            </nav>

                     </div>
        <div class="row mt-3 ">
            {% for product in products %}
            <div class="  col-lg-3 col-md-3 col-sm-4 col-6 mb-5" >
                                    <a  href="{{ product.url }}">
                                    <div class="   align-self-center position-relative " style="background-color: white;">
                                        <div class="align-self-center single-item">
                                              {% for item in product.gallery_images.all %}
                                              <div class="align-self-center single-item img-responsive">
                                                <div>
                                                {% image item.image original %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                           </div>
                                      <div class=" mt-4 d-flex flex-column">
                                        <strong class=" align-self-center" style="color: #757575;">{{ product.title }}</strong>
                                         <p class="mb-auto text-center">{{ product.Description }}</p>
                                         <strong class="mb-auto text-center" > Price: Rs{{ product.Price }}</strong>
                                      </div>                                    
                                    </div>
                                    </a>
                                         </div>
            {% endfor %}
        </div>
        </div>
        </div>
</div>
    {% endblock %}